* {
  box-sizing: border-box;margin: 0; padding:0;
}

body {
	font-family:sans-serf;line-height:1.6;color:#333;
	background-color:#FFE4C4;	}
header {
  background-color:#AFDFB4;
  padding: 10px;
  text-align: center;
}
.navbar{display: flex; justify-content: space-between; align-items: center; padding:1rem 2rem; 
	background-color:#AFDFB4; }

.container {
	max-width: 1000px;
	margin: auto;
	padding: 10px;

}
/* About-section*/
.about-section {
	background:#FFE4C4;
	padding: 50px 0;
	text-align: center;
}
/* Hobbies-section*/
.hobby-section {
	background:#FFE4C4;
	padding: 50px 0;
	text-align: center;
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

/* Style links in topnav */
ul.topnav li a {
  display: flex;
  color:#264653;
  font-size:18px;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #2563EB;
  color: #f4a261;
}
h1 { margin-bottom:1rem;
	color:#264653;
	font-size: 40px;
}

h2 {
	color:#003366;
	font-size: 40px;
}
ul{
list-style-type:none;
padding: 0;
margin: 0;
}

p {margin-bottom: 1rem;
	line-height:1.6;
	font-size:18px;
}

/*Simple layout styling*/
section {
	padding:10px;
	line-height:1.6;
	font-family:sans-serf;
}
#home {
	background-color:#FFE4C4;
	text-align: center;
	margin: 1px;
}
#About {
	background-color:#FFE4C4;
	text-align: left;
}
#Hobby {
	background-color:#FFE4C4;

	text-align: center;
}

.gallery-images img {
max-width: 600px;
height:auto;}
h2{
	color: #2c3e50;
	border-bottom:2px solid #e67e22;
	display: inline-block;
}
div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container 
 div{
  margin: 1px;
}

/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#FFE4C4; 
  padding: 8px;
  text-align: center;
  z-index: 1000;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:768px) {
	.navbar { flex-direction: column; text-align: center;}
  div.flex-container {
    flex-direction: column;
  }
}

